body {
  padding: 0;
  margin: 0;
}

.login {
  width: 1280px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
}

#id,
#pwd {
  height: 50px;
}
